
<div data-page="client-profile" class="page">
  <div class="navbar">
    <div class="navbar-inner">
      <div class="left"><a href="index.html" class="back link icon-only"><i class="icon icon-back"></i></a></div>
      <div class="center">Cliente</div>
      <div class="right"><a href="#" class="open-panel link icon-only"><i class="icon icon-bars"></i></a></div>
    </div>
  </div>
  <div class="page-content">
    <form class="list-block media-list">
      <ul>
        <li>
          <div class="item-content">
            <div class="item-media"><i class="icon material-icons icon-lighten">business</i></div>
            <div class="item-inner">
              <div class="item-title">Nombre del establecimiento</div>
              <div class="item-subtitle">ACOSTAMADIEDO VERGARA JAIME</div>
            </div>
          </div>
        </li>
        <li>
          <div class="item-content">
            <div class="item-media"><i class="icon material-icons icon-lighten">check</i></div>
            <div class="item-inner">
              <div class="item-title">NIT</div>
              <div class="item-subtitle">72146291</div>
            </div>
          </div>
        </li>
        <li>
          <div class="item-content">
            <div class="item-media"><i class="icon material-icons icon-lighten">email</i></div>
            <div class="item-inner">
              <div class="item-title">Correo electrónico</div>
              <div class="item-subtitle">vendedor@acostamadiedo.co</div>
            </div>
          </div>
        </li>
        <li>
          <div class="item-content">
            <div class="item-media"><i class="icon material-icons icon-lighten">call</i></div>
            <div class="item-inner">
              <div class="item-title">Teléfono/Celular</div>
              <div class="item-subtitle">+57 3154545587</div>
            </div>
          </div>
        </li>
        <li>
          <div class="item-content">
            <div class="item-media"><i class="icon material-icons icon-lighten">contact_phone</i></div>
            <div class="item-inner">
              <div class="item-title">Contacto 1</div>
              <div class="item-subtitle">Giancarlo Valencia S.</div>
            </div>
          </div>
        </li>
        <li>
          <div class="item-content">
            <div class="item-media"><i class="icon material-icons icon-lighten">location_city</i></div>
            <div class="item-inner">
              <div class="item-title">Ciudad</div>
              <div class="item-subtitle">Barranquilla, Atlántico</div>
            </div>
          </div>
        </li>
        <li>
          <div class="item-content">
            <div class="item-media"><i class="icon material-icons icon-lighten">location_on</i></div>
            <div class="item-inner">
              <div class="item-title">Dirección</div>
              <div class="item-subtitle">Carrera 53 # 82 86</div>
            </div>
          </div>
        </li>
        <li>
          <div class="item-content">
            <div class="item-media"><i class="icon material-icons icon-lighten">today</i></div>
            <div class="item-inner">
              <div class="item-title">Ultima actualización</div>
              <div class="item-subtitle">Abril 4, 2017</div>
            </div>
          </div>
        </li>
      </ul>
    </form>


  </div>
</div>
