<div data-page="forgot-password" class="page page-on-center">
  <div class="page-content login-screen-content">
    <br>
    <div class="login-screen-title">
      <img src="img/logo.png" alt="">
    </div>
    <form id="forgot-password">
      <div class="list-block inputs-list">
        <ul>
          <li class="item-content">
            <div class="item-media"><i class="icon material-icons">email</i></div>
            <div class="item-inner">
              <div class="item-title label">Correo</div>
              <div class="item-input item-input-field">
                <input type="text" name="username" id="username-forgot-password" placeholder="Ingresa tu correo electrónico"/>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="content-block"><a href="#" class="button button-fill button-raised color-blue" id="recover-password-btn">Enviar</a></div>
      <div class="content-block"><a href="views/login.html" class="button btn-link-initial" id="show-sign-in-btn">Iniciar Sesión</a></div>
    </form>
  </div>
</div>
