<div data-page="index" class="page">
  <div class="navbar">
    <div class="navbar-inner">
      <div class="center" id="main-nav-center">Home</div>
      <div class="right" id="main-nav-right"><a href="#" class="open-panel link icon-only" id="nav-right-btn"><i class="icon icon-bars"></i></a></div>
    </div>
  </div>
  <!-- <div id="app-content" data-current-content="index.html"> -->
    <div class="page-content">
      <div class="content-block-title">Welcome To Framework7</div>
      <div class="content-block">
        <a href="views/about.html?q=xasda&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjD-sD61-jVAhWDeSYKHQwMAfIQ_AUICygC&biw=1366&bih=678" class="button button-raised">About</a>
        <a href="views/clients-list.html" class="button button-raised">Clients list</a>
        <a href="views/client-profile.html" class="button button-raised">Client profile</a>
        <a href="views/stores.html" class="button button-raised">Stores</a>
        <a href="views/client-profile-edit.html" class="button button-raised">Client profile edit</a>
        <a href="views/change-password.html" class="button button-raised">Change password</a>
        <a href="views/products.html" class="button button-raised">Products</a>
        <a href="views/products-shopping-cart.html" class="button button-raised">Shopping cart</a>
        <a href="views/login.html" class="button button-raised">Login</a>
        <a href="views/forgot-password.html" class="button button-raised">Forgot password</a>
        <a href="views/debts.html" class="button button-raised">Debts</a>
        <a href="views/sync-data.html" class="button button-raised">Sync data</a>
      </div>
    </div>
  <!-- </div> -->
</div>
