<div data-page="products-shopping-cart" class="page">
  <div class="navbar">
    <div class="navbar-inner">
      <div class="left"><a href="index.html" class="back link icon-only"><i class="icon icon-back"></i></a></div>
      <div class="center">Carrito de compras</div>
      <div class="right"><a href="#" class="link"><i class="icon material-icons">remove_shopping_cart <sup style="margin-left: -10px;">clear</sup></i></a></div>
    </div>
  </div>
  <div class="toolbar toolbar-bottom products-shopping-cart-toolbar-bottom">
    <div class="toolbar-inner">
      <a href="#" class="link"><i class="icon material-icons">check</i></a>
      <a href="#tab-2" class="link total-shopping-cart">Total: COP $ <span id="total">2.000.000</span></a>
    </div>
  </div>
  <div class="page-content">
    <div class="list-block media-list searchbar-found">
      <ul>
        <li class="swipeout bottom-separation-shopping-cart-checkout">
          <div class="swipeout-content" style="">
            <a href="javascript:void(0);" class="item-link item-content product-list-min-height add-product-to-cart">
            <div class="item-inner product-list-img">
              <div style="background-image: url('http://lorempixel.com/360/360/people/2')"></div>
            </div>
            <div class="item-inner">
              <div class="item-title">
                <div class="item-title nowrap-list-title">Dolex 100 MG PED MASTI X 350 tabletas</div>
              </div>
              <div class="item-text">Codigo: 29943</div>
              <div class="item-text product-list-price">$759.999 / Und</div>
              <br>
              <div class="row">
                <div class="col-30">
                  <div class="item-input item-input-field">
                  <div class="item-title label">Cantidad</div>
                    <input type="number" value="3">  
                  </div>
                </div>
                <div class="col-60 color-blue">
                  <br>
                  Total: $25.000
                </div>
              </div>
              <br>
              <br>
              <div class="item-text product-list-od"><span>IVA: 0</span><span class="product-list-stock">Stock: 69</span></div>

            </div>
          </a>
          </div>
          <div class="swipeout-actions-right"><a href="#" data-confirm="Are you sure you want to delete this item?" class="swipeout-delete swipeout-overswipe" style="left: 0px;">Delete</a></div>
        </li>
        <li class="swipeout bottom-separation-shopping-cart-checkout">
          <div class="swipeout-content" style="">
            <a href="javascript:void(0);" class="item-link item-content product-list-min-height add-product-to-cart">
            <div class="item-inner product-list-img">
              <div style="background-image: url('http://lorempixel.com/360/360/people/2')"></div>
            </div>
            <div class="item-inner">
              <div class="item-title">
                <div class="item-title nowrap-list-title">Dolex 100 MG PED MASTI X 350 tabletas</div>
              </div>
              <div class="item-text">Codigo: 29943</div>
              <div class="item-text product-list-price">$759.999 / Und</div>
              <br>
              <div class="row">
                <div class="col-30">
                  <div class="item-input item-input-field">
                  <div class="item-title label">Cantidad</div>
                    <input type="number" value="3">  
                  </div>
                </div>
                <div class="col-60 color-blue">
                  <br>
                  Total: $25.000
                </div>
              </div>
              <br>
              <br>
              <div class="item-text product-list-od"><span>IVA: 0</span><span class="product-list-stock">Stock: 69</span></div>

            </div>
          </a>
          </div>
          <div class="swipeout-actions-right"><a href="#" data-confirm="Are you sure you want to delete this item?" class="swipeout-delete swipeout-overswipe" style="left: 0px;">Delete</a></div>
        </li>
        <li class="swipeout bottom-separation-shopping-cart-checkout">
          <div class="swipeout-content" style="">
            <a href="javascript:void(0);" class="item-link item-content product-list-min-height add-product-to-cart">
            <div class="item-inner product-list-img">
              <div style="background-image: url('http://lorempixel.com/360/360/people/2')"></div>
            </div>
            <div class="item-inner">
              <div class="item-title">
                <div class="item-title nowrap-list-title">Dolex 100 MG PED MASTI X 350 tabletas</div>
              </div>
              <div class="item-text">Codigo: 29943</div>
              <div class="item-text product-list-price">$759.999 / Und</div>
              <br>
              <div class="row">
                <div class="col-30">
                  <div class="item-input item-input-field">
                  <div class="item-title label">Cantidad</div>
                    <input type="number" value="3">  
                  </div>
                </div>
                <div class="col-60 color-blue">
                  <br>
                  Total: $25.000
                </div>
              </div>
              <br>
              <br>
              <div class="item-text product-list-od"><span>IVA: 0</span><span class="product-list-stock">Stock: 69</span></div>

            </div>
          </a>
          </div>
          <div class="swipeout-actions-right"><a href="#" data-confirm="Are you sure you want to delete this item?" class="swipeout-delete swipeout-overswipe" style="left: 0px;">Delete</a></div>
        </li>
        <li class="swipeout bottom-separation-shopping-cart-checkout">
          <div class="swipeout-content" style="">
            <a href="javascript:void(0);" class="item-link item-content product-list-min-height add-product-to-cart">
            <div class="item-inner product-list-img">
              <div style="background-image: url('http://lorempixel.com/360/360/people/2')"></div>
            </div>
            <div class="item-inner">
              <div class="item-title">
                <div class="item-title nowrap-list-title">Dolex 100 MG PED MASTI X 350 tabletas</div>
              </div>
              <div class="item-text">Codigo: 29943</div>
              <div class="item-text product-list-price">$759.999 / Und</div>
              <br>
              <div class="row">
                <div class="col-30">
                  <div class="item-input item-input-field">
                  <div class="item-title label">Cantidad</div>
                    <input type="number" value="3">  
                  </div>
                </div>
                <div class="col-60 color-blue">
                  <br>
                  Total: $25.000
                </div>
              </div>
              <br>
              <br>
              <div class="item-text product-list-od"><span>IVA: 0</span><span class="product-list-stock">Stock: 69</span></div>

            </div>
          </a>
          </div>
          <br>
          <div class="swipeout-actions-right"><a href="#" data-confirm="Are you sure you want to delete this item?" class="swipeout-delete swipeout-overswipe" style="left: 0px;">Delete</a></div>
        </li>
        <li class="swipeout bottom-separation-shopping-cart-checkout">
          <div class="swipeout-content" style="">
            <a href="javascript:void(0);" class="item-link item-content product-list-min-height add-product-to-cart">
            <div class="item-inner product-list-img">
              <div style="background-image: url('http://lorempixel.com/360/360/people/2')"></div>
            </div>
            <div class="item-inner">
              <div class="item-title">
                <div class="item-title nowrap-list-title">Dolex 100 MG PED MASTI X 350 tabletas</div>
              </div>
              <div class="item-text">Codigo: 29943</div>
              <div class="item-text product-list-price">$759.999 / Und</div>
              <br>
              <div class="row">
                <div class="col-30">
                  <div class="item-input item-input-field">
                  <div class="item-title label">Cantidad</div>
                    <input type="number" value="3">  
                  </div>
                </div>
                <div class="col-60 color-blue">
                  <br>
                  Total: $25.000
                </div>
              </div>
              <br>
              <br>
              <div class="item-text product-list-od"><span>IVA: 0</span><span class="product-list-stock">Stock: 69</span></div>
            </div>
          </a>
          </div>
          <br>
          <div class="swipeout-actions-right"><a href="#" data-confirm="Are you sure you want to delete this item?" class="swipeout-delete swipeout-overswipe" style="left: 0px;">Delete</a></div>
        </li>
      </ul>
    </div>
  </div>
</div>
