<div data-page="sync-data" class="page">
  <div class="navbar">
    <div class="navbar-inner">
      <div class="left"><a href="index.html" class="back link icon-only"><i class="icon icon-back"></i></a></div>
      <div class="center">Sincronizar</div>
      <div class="right"><a href="#" class="open-panel link icon-only"><i class="icon icon-bars"></i></a></div>
    </div>
  </div>
  <div class="page-content">
    <div class="content-block-title">Welcome to Framework7</div>
    <div class="card ks-facebook-card">
      <div class="card-header" style="background-color:#fafafa;">
        <div class="ks-facebook-name" style="margin-left:0px;">Referencias</div>
        <div class="ks-facebook-date" style="margin-left:0px;">Ultima actualizacion: 2017-12-31</div>
      </div>
      <div class="card-content">
        <div class="card-content-inner">
          <p>FIC02: 11560 referencias</p>
          <p>INSBQ: 7630 referencias</p>
        </div>
      </div>
      <div class="card-footer" style="background-color:#fff;">
        <a href="#" class="link color-blue"></a>
        <a href="#" class="link color-blue"></a>
        <a href="#" class="link color-blue" style="color: #002753;font-weight: 400;">Actualizar</a>
      </div>
      <span class="progressbar-infinite"></span>
    </div>
    <div class="card ks-facebook-card">
      <div class="card-header" style="background-color:#fafafa;">
        <div class="ks-facebook-name" style="margin-left:0px;">Referencias</div>
        <div class="ks-facebook-date" style="margin-left:0px;">Ultima actualizacion: 2017-12-31</div>
      </div>
      <div class="card-content">
        <div class="card-content-inner">
          <p>FIC02: 11560 referencias</p>
          <p>INSBQ: 7630 referencias</p>
        </div>
      </div>
      <div class="card-footer" style="background-color:#fff;">
        <a href="#" class="link color-blue"></a>
        <a href="#" class="link color-blue"></a>
        <a href="#" class="link color-blue" style="color: #002753;font-weight: 400;">Actualizar</a>
      </div>
      <span class="progressbar-infinite"></span>
    </div>
    <div class="card ks-facebook-card">
      <div class="card-header" style="background-color:#fafafa;">
        <div class="ks-facebook-name" style="margin-left:0px;">Referencias</div>
        <div class="ks-facebook-date" style="margin-left:0px;">Ultima actualizacion: 2017-12-31</div>
      </div>
      <div class="card-content">
        <div class="card-content-inner">
          <p>FIC02: 11560 referencias</p>
          <p>INSBQ: 7630 referencias</p>
        </div>
      </div>
      <div class="card-footer" style="background-color:#fff;">
        <a href="#" class="link color-blue"></a>
        <a href="#" class="link color-blue"></a>
        <a href="#" class="link color-blue" style="color: #002753;font-weight: 400;">Actualizar</a>
      </div>
      <span class="progressbar-infinite"></span>
    </div>
    <div class="card ks-facebook-card">
      <div class="card-header" style="background-color:#fafafa;">
        <div class="ks-facebook-name" style="margin-left:0px;">Referencias</div>
        <div class="ks-facebook-date" style="margin-left:0px;">Ultima actualizacion: 2017-12-31</div>
      </div>
      <div class="card-content">
        <div class="card-content-inner">
          <p>FIC02: 11560 referencias</p>
          <p>INSBQ: 7630 referencias</p>
        </div>
      </div>
      <span class="progressbar-infinite"></span>
      <div class="card-footer" style="background-color:#fff;">
        <a href="#" class="link color-blue"></a>
        <a href="#" class="link color-blue"></a>
        <a href="#" class="link color-blue" style="color: #002753;font-weight: 400;">Actualizar</a>
      </div>
    </div>
  </div>
</div>
<!-- transform: rotate(500deg); -->
