.icon-lighten {
  color: #ababab !important;
}

/* ---- LEFT MENU ---- */
#left-menu .item-title {
  color: #212121;
}
.left-menu-header {
  background-image: url("../img/wallpaper.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 160px;
  margin: 0;
  margin-top: -56px;
  border-bottom: solid 160px rgba(0, 39, 83, 0.51);
}
.left-menu-header img {
  height: 69px;
  margin-top: 13px;
}
.left-menu-header p {
  margin: 0;
}
.left-menu-header .left-menu-info-user {
  position: absolute;
  top: 110px;
}
.left-menu-header .left-menu-info-user p.left-menu-user {
  color: #fff;
  font-size: 16px;
}
.left-menu-header .left-menu-info-user p.left-menu-db {
  color: #ababab;
}
.sign-out-menu-link {
  position: absolute;
  width: 100%;
  bottom: 0;
}
.sign-out-menu-link li {
  border-top: solid 1px rgba(255, 255, 255, 0.14);
}


/* ---- LOGIN ---- */
.initial-app-views .login-screen-content {
  background-image: url("../img/wallpaper.png");
  background-size: cover;
  color: #fff;
}
.initial-app-views .login-screen-title img {
  width: 74%;
}
.initial-app-views .login-screen-content .label,
.initial-app-views .login-screen-content input:focus {
  color: #fff;
}
.initial-app-views .login-screen-content .item-input ::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.2);
}
.initial-app-views .list-block .focus-state.item-inner .label {
  color: #fff;
}
.initial-app-views .list-block .focus-state.input-field:after,
.initial-app-views .list-block .focus-state .item-input-field:after {
  background: #fff;
}
.initial-app-views .list-block .focus-state .label,
.initial-app-views .list-block .focus-state .floating-label {
  color: #fff;
}
.initial-app-views .item-input-field.focus-state:after,
.initial-app-views .input-field.focus-state:after,
.initial-app-views .item-input-field.not-empty-state:after,
.initial-app-views .input-field.not-empty-state:after,
.initial-app-views .focus-state .item-input-field:after,
.initial-app-views .focus-state .input-field:after,
.initial-app-views .not-empty-state .item-input-field:after,
.initial-app-views .not-empty-state .input-field:after {
  background: #fff;
  -webkit-transform: scaleY(0.5) !important;
  transform: scaleY(0.5) !important;
}
.initial-app-views .login-screen-content .btn-cofirm-initial {
  color: #fff;
  background-color: #002753;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.initial-app-views .login-screen-content .btn-link-initial {
  color: #fff;
  text-transform: none;
}


/* ---- PRODUCTS ----*/
.shopping-cart-badge {
  border-radius: 50px;
  background-color: red;
  font-weight: 400;
  top: -5px !important;
  line-height: 1.5 !important;
  box-shadow: -1px 1px 1px #000;

}
.text-center {
  text-align: center;
}
.nowrap-list-title {
  white-space: normal !important;
}
.product-list-img {
  width: 40% !important;
}
.product-list-img div{
  width: 100%;
  height: 100%;
  max-height: 110px;
  background-size: cover;
}
.product-list-min-height {
  min-height: 136px !important;
}
.product-list-od {
  position: absolute !important;
  bottom: 8px;
  left: 0;
  right: 16px;
  font-size: 11px !important;
}
.product-list-od .product-list-stock {
  float: right;
}
.product-list-price {
  color: #002753 !important;
}
.products-shopping-cart-toolbar-bottom {
  background-color: #fff;
}
.products-shopping-cart-toolbar-bottom a.link,
.products-shopping-cart-toolbar-bottom a.link i {
  color: #757575;
}
.products-shopping-cart-toolbar-bottom a.total-shopping-cart {
  font-weight: 600;
}
.bottom-separation-shopping-cart-checkout {
      border-bottom: solid 9px rgba(171, 171, 171, 0.17) !important;
}


/* ---- DEBTS ----*/
.dataTables_filter,
.dataTables_info {
  display: none;
}
.table-bg table {
  background-color: #fff;
}
.table-bg table th,
.table-bg table td {
  height: 35px !important;
}
.table-bg table th {
  font-size: 14px;
  color: #212121 !important;
}
.DTFC_LeftBodyWrapper tbody,
.DTFC_LeftHeadWrapper thead{
  background-color: #f1f1f1;
  font-size: 14px;
  color: #212121;
  font-weight: 500;
}
